body {
    background-color: lightslategray;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* Add a background color to the top navigation */




.topnav {
    background-color: black;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: darkgray;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: white;
            color: black;
        }
table, th, td {
border:1px solid;
width:90%;
height:300px;
}
